.App {
  text-align: center;
  font-family: "Rubik";
}
/* HEADER ITEMS */
.header {
  background-color: #006623;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:.5em;
  padding-left: 4em;
  justify-content: space-between;
}
.header-above {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: .5em;
  width: 5em;
}
.header-item a {
  color: white;
}
.nav-bar{
  display: flex;

}
.cl-effect-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-right:4em;
}
.cl-effect-1 a{
  color: white;
  width: 6em;
  padding:.5em;
}
.cl-effect-1 a:link{
  text-decoration: None;
}
/* Effect 1: Brackets from https://webdeasy.de/en/top-css-navigation-menus-en/*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
/* BIO ITEMS */
.text-breakup{
  background: #042b10;
  color: white;
  padding: 1em;
  font-size: 25px;

}
.bio-section {
  display:flex;
  justify-content: center;
  padding:7em;
}
.text-typing {
  font-size: 40px;

}
.bio-text{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.text-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  width:100%

}
.sec {
  background-color:whitesmoke;
}
.text-body {
  display:flex;
  align-self: center;
  justify-content: center;
  padding:1em;
  font-size: 23px;
  width:80%
}
.text-header {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  padding-top:1em;
}
.sub {
  font-size: 27px;
  padding:1em;
}
.resume-picture {
  display:flex;
  justify-content: left;
  align-items: left;
  width: 100px;
  height: 100px;
  margin-left:2em;
}